* {
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	word-break: keep-all;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 2560px;
    max-height: 100vh;
	margin: 0;
    padding: 0;
}

/*SCROLLBAR*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #F5E17D;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #F4A58F;
}

/*END OF SCROLLBAR*/
.card {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 500px;
    height: 500px;
    box-shadow: 3px 5px 25px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    margin-left: calc(50% - 250px);
    margin-top: calc(50vh - 250px);
}

.scrollable{
    width: 500px;
    height: 500px;
    overflow: auto;
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
    color: #636363;
}

.img {
    padding: 30px 0;
    width: 70%;
    margin-left: 15%;
}

.credit-group{
    padding: 30px;
    padding-top: 0;
}

.credit-title{
    font-size: 20px;
    font-weight: bold;
    color: #636363;
    margin: 5px;
}
.credit-body{
    font-size: 18px;
    margin: 5px;
}

@media (min-width: 1441px) {
    .card {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 800px;
        height: 800px;
        box-shadow: 3px 5px 25px rgba(0, 0, 0, 0.13);
        border-radius: 10px;
        margin-left: calc(50% - 400px);
        margin-top: calc(50vh - 400px);
    }
    .scrollable{
        width: 800px;
        height: 800px;
    }
    .title {
        font-size: 45px;
    }
    .credit-title {
        font-size: 30px;
    }
    .credit-body {
        font-size: 25px;
    }
}

@media (max-width: 425px) {
    .card {
        width: 300px;
        margin-left: calc(50% - 150px);
    }
    .scrollable{
        width: 300px;
        height: 500px;
    }
    .title {
        font-size: 22px;
    }
    .credit-title {
        font-size: 18px;
    }
    .credit-body {
        font-size: 15px;
    }
}

@media (max-width: 320px) {
    .card {
        width: 240px;
        margin-left: calc(50% - 120px);
    }
    .scrollable{
        width: 240px;
        height: 500px;
    }
    .title {
        font-size: 22px;
    }
    .credit-title {
        font-size: 18px;
    }
    .credit-body {
        font-size: 15px;
    }
}