/*SCROLLBAR*/

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background-color: white;
}

::-webkit-scrollbar-thumb {
	background: #F5E17D;	
}

::-webkit-scrollbar-thumb:hover {
	background: #F4A58F;
}

/*END OF SCROLLBAR*/

/* GENERAL COMPONENTS */

* {
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	word-break: keep-all;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	margin: 0 auto;
	margin: 0;
	padding: 0;
}

.gradasi-pink {
	position: absolute;
	width: 100%;
	height: 100px;
	background-image: linear-gradient( rgba(255, 0, 0, 0), #F4A58F);
	bottom: 0;
	z-index: -1;
}

.gradasi-pink-atas {
	position: absolute;
	width: 100%;
	height: 100px;
	background-image: linear-gradient( #F4A58F, rgba(255, 0, 0, 0) );
	top: 0;
	z-index: -1;
}


.gradasi-putih {
	position: absolute;
	width: 100%;
	height: 180px;
	background-image: linear-gradient( rgba(255, 0, 0, 0), white);
	bottom: -1px;
}

.gradasi-kuning-atas {
	position: absolute;
	width: 100%;
	height: 180px;
	background-image: linear-gradient(#F5E17D, rgba(255, 0, 0, 0));
	top: 0;
}

.gradasi-kuning-bawah {
	position: absolute;
	width: 100%;
	height: 180px;
	background-image: linear-gradient( rgba(255, 0, 0, 0), #F5E17D);
	bottom: 0;
	z-index: 1;
}

.pages {
	height: 100vh;
	width: auto;
	position: relative;
}
.short-pages {
	height: 80vh;
	width: auto;
	position: relative;
	overflow: hidden;
}

.textTitle3 {
	font-size: 40px;
}

/* END OF GENERAL COMPONENTS */

/* TOOGLE */

#menuToggle {
	display: block;
	position: relative;
	float: right;
	margin: 20px 20px;
	z-index: 1;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#menuToggle input {
	display: block;
	width: 50px;
	height: 42px;
	position: absolute;
	top: -8px;
	left: -6px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#menuToggle span {
	display: block;
	width: 27px;
	height: 3px;
	margin-bottom: 5px;
	position: relative;
	background: #F5E17D;
	border-radius: 3px;
	z-index: 2;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(3px, 0);
	background: white;
}

#menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, 2px);
}

#menu {
	position: absolute;
	line-height: 25px;
	width: 250px;
	margin: -110px 0 0 -285px;
	text-align: right;
	height: 100vh;
	padding: 50px;
	padding-top: 125px;
	background-image: linear-gradient(#F5E17D, #F4A58F);
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(200%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
	white-space: pre-line;
}

#menu a {
	font-size: 17px;
	color: white;
	text-align: right;
	text-decoration: none;
	margin-right: 10px;
}

#menu span {
	height: 1px;
	opacity: 0.7;
	background-color: white !important;
	margin-top: 20px;
	width: 250px;
}

#menuToggle input:checked~ul {
	transform: none;
}

/* END OF TOOGLE */

/* CARD */

.card {
	position: absolute;
	width: 600px;
	height: auto;
	padding: 20px;
	background: #FFFFFF;
	box-shadow: 3px 10px 20px 1px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	bottom: 15%;
	right: 7%;
	z-index: 3;
	text-align: right;
	letter-spacing: 0.08em;
	color: #555555;
}

.card-body {
	max-width: -webkit-fill-available;
	font-size: 15px;
	line-height: 25px;
	padding: 10px;
	float: right;
	font-weight: normal;
	margin: 10px 0;
}

.card-header {
	font-size: 25px;
	padding: 0 10px 0 10px;
}

.garis {
	padding: 0 10px;
}

/* END OF CARD */

/* BTN-SCROLL */

.sticky {
	position: sticky;
	top: 95vh;
	z-index: 5;
}

.btn-scroll {
	position: absolute;
	top: -102px;
	right: 20px;
	margin: 30px 20px;
	width: 60px;
	height: 60px;
	background: linear-gradient(180deg, #F4A58F 0%, rgba(255, 255, 255, 0) 100%), #F5E17D;
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
	border-radius: 100%;
	z-index: 3;
}

.btn-pink {
	background: linear-gradient(180deg, #F4A58F 46.88%, #F5E17D 100%), #F2D95C;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
	width: 110px;
	float: right;
	padding: 10px;
	margin: 20px 10px 0 10px;
	font-size: 15px;
	color: #FFFFFF;
	text-align: center;
	font-weight: normal;
	cursor: pointer;
	text-decoration: none;
	transition: 0.3s;
}

.btn-pink:hover {
	background: linear-gradient(180deg, #F5E17D 46.88%, #F5E17D 100%), #F5E17D;
	transition: 0.3s;
	color: #555555;
}

.white-arrow {
	padding: 15px 20px;
	width: 20px;
}

/* END OF BTN-SCROLL */

/* LANDING PAGE */

li {
	float: left;
}

li a {
	display: block;
	color: #F2D95C;
	text-align: center;
	padding: 10px 5px;
	font-size: 15px;
	line-height: 26px;
	width: 100px;
	text-decoration: none;
}

li a:hover:not(.aktif) {
	color: #F4A58F;
	transition: 0.5s;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	background-color: transparent;
	float: right;
	z-index: 2;
}

.aktif {
	color: #F4A58F;
	border-bottom: 1px solid #F2D95C;
}

.background {
	position: absolute;
	margin-top: 90px;
	z-index: -1;
	height: 100vh;
	min-width: 100%;
}

.landing {
	position: relative;
	overflow: hidden;
}

.imgscroll {
	margin-bottom: -7px;
	width: 12px;
}

.logoM {
	padding: 20px;
	width: 35px;
	position: absolute;
	top: 0;
	left: 0;
}

.titleImg, .titleImg2 {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 100vh;
	width: auto;
	z-index: -1;
}

.scroll {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
	padding: 30px;
}
.scroll a{
	text-decoration: none;
	color: #575757;
}
.textscroll {
	display: inline;
	padding: 15px;
	font-weight: 400;
}

.titleImg {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 85vh;
	width: auto;
	z-index: -1;
}
/* END OF LANDING PAGE */

/* PENGENALAN */
.pengenalan {
	position: relative;
	overflow: hidden;
}
.background2 {
	/* position: absolute;
	bottom: 0; */
	z-index: -1;
	height: 100vh;
	width: 100%;
}
.pengenalan {
	position: relative;
	overflow: hidden;
}
.pengenalan-orang {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100vh;
	width: auto;
}

.textTitle {
	position: absolute;
	top: 10%;
	text-align: right;
	right: 7%;
	font-size: 35px;
	line-height: 60px;
	letter-spacing: 0.08em;
	font-weight: normal !important;
	color: #555555;
	width: auto;
}

/* END OF PENGENALAN */

/* PAGE REVOLUSI */

.gedung {
	position: absolute;
	margin-top: 90px;
	bottom: 0;
	right: 0;
	z-index: -1;
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

.background3 {
	position: absolute;
	bottom: -1px;
	z-index: 2;
	max-height: 100vh;
	width: 100%;
	object-fit: cover;
}

.card-revolusi {
	width: 450px;
	right: 0;
	left: 5%;
	text-align: left;
}

/* PAGE TANTANGAN */

.carousel {
	position: absolute;
	top: 25%;
	z-index: 2;
	text-align: center;
}

.item .card-tantangan {
	background-color: #FFFFFF;
	width: 220px;
	height: 330px;
	transform: translateY(-40px);
	border-radius: 10px;
	position: relative;
	z-index: 1;
	color: #555555;
}

.item .foto {
	width: 140px;
	height: 140px;
	background-color: #555555;
	border-radius: 10px;
	transform: translate(40px, 40px);
	z-index: 2;
	position: relative;
}
.content .header {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.08em;
	padding-top: 100px;
}
.content .article {
	font-style: normal;
	font-weight: normal;
	text-align: left;
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 0.08em;
	padding: 15px;
}
.content .btn-pink {
	position: absolute;
	bottom: 20px;
	margin: 0 0 0 18px;
}
.backgroundPage4 {
	position: absolute;
	top: 0;
	z-index: -1;
	max-height: 100vh;
	width: 100%;
	object-fit: cover;
}

/* PAGE ROBOT */

.gambar-robot{
	height: 85vh;
    transform: translate(50%, 15%);
}
.passion{
	position: absolute;
    bottom: 15%;
    left: 45%;
}
.vector-robot{
	top: -1px;
    left: 0;
    width: 100%;
    position: absolute;
}
.vector-passion{
    margin: auto;
    width: 80%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.text-passion{
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
	font-size: 36px;
	line-height: 45px;
	text-align: center;
	color: #FFFFFF;
}
.card-robot {
	width: 350px;
	height: 380px;
	text-align: left;
	z-index: 2;
}
.background4 {
	width: 100%;
	position: absolute;
	top: 0;
}
.robotBackground {
	height: 80vh;
	margin-left: 15%;
	position: absolute;
	bottom: 0;
}

/* PAGES CATAT */
.container-box {
	height: auto;
	position: absolute;
	top: 27%;
	width: 640px;
	left: calc(50% - 320px);
	margin: 0 auto;
}
.container-box .box {
	background-color: #FFFFFF;
	width: 160px;
	height: 160px;
	margin: 10px 15px 20px 15px;
	box-shadow: 1px 5px 13px 1px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 10px;
	position: relative;
	display: inline-block;
}
.photo, .photo1, .photo2, .photo3 {
	width: 150px;
	height: 150px;
	margin-left: calc(50% - 85px);
	margin-top: -6px;
	position: absolute;
}
.box .photo2 {
	margin-top: -15px !important;
	width: 160px;
	height: 160px;
	margin-left: calc(50% - 90px);
}
.box .photo3 {
	margin-top: -55px !important;
	width: 250px;
	height: 250px;
	margin-left: calc(50% - 135px);
}
.box .text {
	text-align: center;
	color: #555555;
	font-size: 15px;
	font-weight: 700;
	width: 100%;
	position: absolute;
	top: 130px;
	margin-left: -10px;
}
.group .btn-pink {
	float: none;
	position: absolute;
	margin: 20px 0 0 calc(50% - 40px);
	width: 80px;
}
.vector-catat{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.gambar-kiri{
	width: 400px;
}
.text-sukses{
	position: absolute;
	transform: translateX(-50%);
    top: 35%;
    left: 50%;
}
.text-sukses span {
	color: #555555;
	font-size: 30px;
	text-align: left;
	letter-spacing: 0.08em;
}
.text-sukses img {
	margin-top: 30px;
	margin-bottom: 50px;
}
/* PAGES TIPS */
.tips{
	background: linear-gradient(180deg, #F4A58F 4.59%, #F5E17D 95.65%), #F4A58F;
}
.vectorLast {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	z-index: 1;
}
.gambar-last{
	position: absolute;
    bottom: 0;
    height: 70%;
    left: 5%;
}
.owl-tips {
	position: absolute;
	width: 800px;
	right: 5%;
	top: 38%;
	z-index: 3;
}

.card-tips {
	background-color: #FFFFFF;
	margin: 20px;
	width: 600px;
	height: 300px;
	box-shadow: 3px 10px 20px 1px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}
.catat .textTitle2 {
	width: 60%;
}
.foto-bulat {
	float: left;
	background-color: #555555;
	width: 150px;
	height: 150px;
	border-radius: 100px;
	transform: translate(25%, 45%);
}
.card-tips .content {
	float: right;
	width: 57%;
	font-size: 23px;
	font-weight: normal;
	padding: 30px;
	line-height: 37px;
	letter-spacing: 0.08em;
	margin-top: 10%;
}
/* END PAGE TIPS */

/* FOOTER */

.footer {
	position: relative;
	height: 200px;
	padding: 20px 40px;
}

.link-kiri {
	width: 50%;
	float: left;
	color: #555555;
	height: 150px;
}

.link-kiri ul, .link-kiri li {
	float: none;
}

.link-kiri ul {
	margin-right: 40px;
}

.link-kiri li {
	font-size: 15px;
	line-height: 35px;
	letter-spacing: 0.08em;
	list-style: none;
}

.link-kiri .kiri {
	float: left;
}

.link-kanan {
	width: 50%;
	height: 150px;
	float: right;
	position: relative;
}

.link-kanan img {
	margin-right: 20px;
	float: right;
}

.link-kanan .medsos {
	padding: 0;
	position: absolute;
	right: 0;
	bottom: 0;
}

.medsos img {
	border-radius: 5px;
	margin: 15px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	opacity: 0.8;
}

.medsos img:hover {
	opacity: 1;
}

.copyright {
	float: left;
	height: 50px;
	padding-top: 20px;
	width: 100%;
	border-top: 1px solid #F5E17D;
}

.copyright .text {
	font-weight: bold;
	color: #555555;
	float: left;
	padding: 5px;
}

.copyright .button {
	float: right;
	width: 200px;
	color: #555555;
	background-color: #F2D95C;
	text-align: center;
	border-radius: 5px;
	padding: 5px;
}

.textTitle2 {
	position: absolute;
	top: 10%;
	text-align: left;
	left: 5%;
	font-size: 35px;
	font-weight: normal;
	line-height: 60px;
	letter-spacing: 0.08em;
	color: #555555;
	width: auto;
}
