* {
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
    word-break: break-all;
    text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	margin: 0 auto;
	margin: 0;
	padding: 0;
}

/*SCROLLBAR*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #F5E17D;
}

::-webkit-scrollbar-thumb:hover {
	background: #F4A58F;
}

/*END OF SCROLLBAR*/

.vector-top{
    position: absolute;
    top: 0;
    width: 100%;
}