* {
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
    word-break: break-all;
    text-decoration: none;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	margin: 0 auto;
	margin: 0;
	padding: 0;
}

/*SCROLLBAR*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #F5E17D;
}

::-webkit-scrollbar-thumb:hover {
	background: #F4A58F;
}

/*END OF SCROLLBAR*/

.vector-top{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.judul-nama{
    text-align: center;
    font-size: 40px;
    margin: 50px;
    margin-top: 100px;
    font-weight: bold;
    color: #555555;
}

.gambar-bio{
    width: 100px;
    height: 100px;
    background: black;
    float: left;
}

.PP {
  width: 70%;
  margin-left: 15%;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #F5E17D;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #F4A58F;
    border: 5px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
    text-align: right;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
  }
  
  @media screen and (max-width: 600px) {
    .timeline::after {
    left: 31px;
    }
    
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    .left::after, .right::after {
    left: 15px;
    }
    
    .right {
    left: 0%;
    }
  }

@media screen and (min-width: 1025px) {
  .judul-nama {
    font-size: 60px;
}
.content h2 {
  font-size: 35px;
}
.content p {
  font-size: 28px;
  line-height: 35px;
}
.timeline {
  max-width: 80%;
}
}

@media screen and (max-width: 425px) {
  .timeline {
    margin-bottom: 50px;
  }
  .left {
    left: 0;
    text-align: left;
}
.judul-nama {
  font-size: 25px;
}
.PP {
  width: 85%;
  margin-left: 6%;
}
.content h2 {
  font-size: 18px;
}
.content p {
  font-size: 14px;
  line-height: 19px;
}
}
