* {
	padding: 0;
	margin: 0;
	font-family: quicksand;
    word-break: break-all;
    text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	margin: 0 auto;
	margin: 0;
	padding: 0;
}

/*SCROLLBAR*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #F5E17D;
}

::-webkit-scrollbar-thumb:hover {
	background: #F4A58F;
}

/*END OF SCROLLBAR*/
.container-page{
    height: 100vh;
    position: relative;
}
.container-page-long{
    height: 150vh;
    position: relative;
}
.gradasi-putih {
	position: absolute;
	width: 100%;
	height: 180px;
	background-image: linear-gradient( rgba(255, 0, 0, 0), white);
	bottom: 0;
}

.gambar-sukses{
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

.text{
    top: 50%;
    position: absolute;
    right: 10%;
    text-align: right;
    transform: translateY(-50%);
}

.text .judul{
    font-weight: bold;
    font-size: 35px;
    color: #555555;
    letter-spacing: 0.08em;
}
.judul-besar{
    font-size: 50px;
}

.tagline{
    text-align: center;
    font-size: 40px;
    margin: 50px;
    font-weight: bold;
    color: #555555;
}

.video{
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 15px;
    width: 800px;
    height: 400px;
}

.vector-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.orang-sukses{
    width: 70%;
    height: auto;
    position: absolute;
    bottom: 20%;
    left: 70%;
    transform: translateX(-70%);
}

.group .box{
    background-color: #FFFFFF;
    width: 180px;
    height: 200px;
    margin-right: 120px;
	box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	position: relative;
	display: inline-block;
}

.box .photo {
	background-color: #555555;
	border-radius: 100%;
	width: 80px;
	height: 80px;
	position: relative;
	top: 5%;
	left: 30%;
}

.box .content {
	text-align: center;
	color: #555555;
    font-size: 20px;
    margin-top: 40px;
	font-weight: 700;
}

@media (max-width:2560px) and (min-width:1441px){
    .gradasi-putih{
        bottom: -2px;
    }
    .tagline{
        font-size: 70px;
    }
    .video{
        width: 1600px;
        height: 800px;
    }
    .text .judul{
        font-size: 75px;
    }
    .judul-besar{
        font-size: 95px;
    }
    .line{
        width: 500px;
    }
    .orang-sukses{
        bottom: 20%;
    }
    .group .box{
        width: 300px;
        height: 350px;
        margin-right: 280px;
    }
    .box .photo{
        width: 135px;
        height: 135px;
    }
    .box .content{
        font-size: 30px;
        margin-top: 80px;
    }
}

@media (max-width:1024px){
    .group .box{
        margin-right: 45px;
        margin-bottom: 25px;
    }
}
@media (max-width:768px) and (min-width:426px) {
    .video{
        width: 500px;
        height: 300px;
    }
    #center{
        transform: translate(115px, 10px);
    }
    .orang-sukses{
        bottom: 5%;
        left: 72%;
    }
}

@media (max-width:425px){
    .gradasi-putih{
        top: 214px;
    }
    .orang-sukses{
        left: 80%;
    }
}
@media (max-width:375px){
    .gradasi-putih{
        top: 168px;
    }
}
@media (max-width:320px){
    .gradasi-putih{
        top: 115px;
    }
}

@media (max-width:425px) and (min-width:320px){
    .gambar-sukses{
        width: 100%;
        height: auto;
    }
    .video{
        width: auto;
        height: auto;
        border-radius: 5px;
    }
    .text{
        top: auto;
        bottom: 0; 
    }
    .text .judul{
        font-size: 20px;
    }
    .judul-besar{
        font-size: 30px;
    }
    .tagline{
        font-size: 20px;
    margin: 30px;
    }
    .group .box{
        width: 150px;
        height: 180px;
    }
    .box .content{
        font-size: 15px;
    }
    .orang-sukses{
        bottom: 5%;
    }
}